.language-wrapper{
    display: flex;
    align-items: center;
    margin: 10px auto;
    width: fit-content;
}

.language-wrapper a{
    padding: 5px;
    text-decoration: none;
}

.language-wrapper a:hover{
    text-decoration: underline;
}